<h1>Sale</h1>

<fieldset>
	<legend>details</legend>

	<div class="row">
		<div class="large-9 columns">
			<%= label :sale, :transaction_key %>
			<p class='as-input'><%= @sale.transaction_key %></p>
		</div>
		<div class="large-3 columns">
			<%= label :sale, :created_at %>
			<%= time_tag(@sale.created_at, class: 'as-input number') %>
		</div>
	</div>
</fieldset>

<fieldset>
	<legend>items</legend>
	
	<div class="row">
		<div class="large-12 columns">
			<table class="small-12">
				<thead>
					<tr>
						<th class="small-1">Purchaser</th>
						<th class="small-2">Merchant Name</th>
						<th class="small-2">Merchant Address</th>
						<th class="small-3">Item Description</th>
						<th class="small-1 quantity">Purchase Count</th>
						<th class="small-1 number">Item Price</th>
						<th class="small-1 number">Item Total</th>
					</tr>
				</thead>
				
				<tbody>
					<% @sale.items.each do |item| %>
					<tr>
						<td><%= item.purchaser_name %></td>
						<td><%= item.merchant_name %></td>
						<td><%= item.merchant_address %></td>
						<td><%= item.item_description %></td>
						<td class="quantity"><%= item.purchase_count %></td>
						<td class="number"><%= item.item_price %></td>
						<td class="number"><%= item.item_total %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="large-offset-9 large-3 columns number">
			<strong>Total: </strong><%= @sale.total_price %>
		</div>
	</div>
</fieldset>

<%= link_to "Back to sales", sales_path, class: 'button secondary round right' %>
